* {
  font-family: monospace;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background-image: url('bg.png');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

h1 {
  font-size: 35px;
  color: white;
  text-align: center;
}

@keyframes barney {
  from {
    transform: rotate(-180deg);
    scroll-behavior: smooth;
    height: 15%;
    width: 5%;

  }
  to {
    transform: rotate(0deg);
    animation-timing-function: ease-in;
    height: 70%;
    width: 40%;
  }

}

.header-barney {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 800px;
  margin-bottom: 30px;
  animation-name: barney;
  animation-duration: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;

}
.header-barney1 {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 150px;
  margin-bottom: 60px;
}

/*CONAINERS FOR THE BLOG FEED*/

.container {
  display: flex;
  max-width: 800px;
  flex-direction: column;
  justify-content: space-around;
  margin: auto;

}

.contain {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  background-color: rgba(120, 120, 120, 0.71);
}

.name {
  font-size: 36px;
}

.text {
  padding-right: 40px;
}

.authorname {
  font-style: oblique;
}

.pubdate {
  font-size: 12px;
  text-align: justify;
}

.likes {
  color: white;
  margin: auto;
  background-image: url(social_copy.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  font-size: 16px;
  padding-right: 40px;
  margin-bottom: 5px;
}

.authorname,
.pubdate,
.name {
  text-align: left;
}

.text,
.pubdate,
.authorname,
.name {
  padding-left: 40px;
  padding-top: 10px;
  margin: 0;
}
